################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tourism.Application
/Tourism.Domain
/Tourism.API
/Tourism.Infrastructure
/.vs
