* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background: #f2f2f2;
  color: #000;
}


.container {
  width: 600px;
  margin: 40px auto;
  padding: 20px;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header h2 {
  margin: 0;
  font-size: 18px;
}

header a {
  font-size: 13px;
}

.searchbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.searchbox input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 6px;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}
.btn-group{
    display: flex;
    gap: 10px;

}
.btn {
  background-color: #4f46e5; 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #4338ca;
}


/* LISTAGEM */
.lista-item {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 6px;
  padding: 15px;
  margin: 0 0 10px 0;
}

.lista-item h4 {
  font-size: 14px;
}

.lista-item p {
  font-size: 13px;
  white-space: nowrap;     
  overflow: hidden;        
  text-overflow: ellipsis; 
}
.lista-item .btn {
  padding: 6px 12px;
  font-size: 10px;
}

a {
  font-size: 13px;
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

.paginacao {
  display: flex;
  justify-content: space-between;
  align-items: center;           
  margin-top: 20px;
  gap: 10px;                   
}

.paginacao .btn {
  display: flex;          
  justify-content: center; 
  align-items: center;     
  width: 100px;
  height: 40px;
}


.erro {
  background: #ffe5e5;
  color: #b00020;
  padding: 12px;
  border-radius: 6px;
  margin: 15px 0;
  border: 1px solid #ffb3b3;
}
.alert {
  padding: 14px;
  border-radius: 6px;
  margin: 15px 0;
  font-weight: 500;
}

/* TIPOS */
.alert-error {
  background-color: #ffe6e6;
  color: #a30000;
  border: 1px solid #ffb3b3;
}

.alert-success {
  background-color: #e6fffa;
  color: #006d5b;
  border: 1px solid #8ff0d0;
}

.alert-warning {
  background-color: #fff6e5;
  color: #8a5a00;
  border: 1px solid #ffd27f;
}

.alert-info {
  background-color: #e6f0ff;
  color: #003d99;
  border: 1px solid #99bbff;
}

